/* Reset some defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(13, 19, 22);
    font-family: Arial, sans-serif;
    color: #2be516;
    line-height: 1.6;
    padding-top: 20px;
}

/* Header */
.header {
    background-color: rgb(29, 197, 43);
    border: 2px solid rgb(241, 236, 236);
    padding: 20px 30px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
}

.header a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    margin-right: 15px;
}

.header a:hover {
    text-decoration: underline;
}

/* Layout */
.container {
    display: flex;
    margin: 20px;
    gap: 20px;
}

/* Left Menu */
.leftmenu {
    background-color: grey;
    border: 2px solid white;
    padding: 15px;
    width: 1500px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

/* Main Content */
.main {
    background-color: grey;
    border: 2px solid white;
    padding: 20px;
    flex-grow: 1;
}

/* Right Menu */
.rightmenu {
    background-color: grey;
    border: 2px solid white;
    padding: 15px;
    width: 230px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

/* Footer */
.footer {
    background-color: grey;
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.footer iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    height: 315px;
}

/* Paragraphs and lists */
p {
    color: #dee516;
}

li {
    color: rgb(245, 245, 2);
}


/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

html {
  scroll-behavior: smooth;
}

